<form class="one-column-form">
  <mat-form-field appearance="outline">
    <mat-label>Unique Name</mat-label>
    <input matInput placeholder="Placeholder"/>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Placeholder"/>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>last Name</mat-label>
    <input matInput placeholder="Placeholder"/>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birthdate</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Martial Status</mat-label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let status of ['Married', 'Single']">
        {{status}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Number of children</mat-label>
    <input matInput placeholder="Placeholder"/>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Employer</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Account type</mat-label>
    <mat-select [(value)]="type">
      <mat-option>None</mat-option>
      <mat-option value="personal">Personal</mat-option>
      <mat-option value="business">Business</mat-option>
    </mat-select>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Contact method</mat-label>
    <span class="example-list-section">
    <ul>
      <li *ngFor="let m of ['Phone', 'Email', 'Mail']">
        <mat-checkbox >
          {{m}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>

</form>

